body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

/*header time 00:10:30*/

header {
    background-color: rgb(15, 18, 136);
    padding: 16px 32px;
    color: antiquewhite;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    font-size: 28px;
}

header .title {
    font-weight: 800;
    margin-right: auto;
}

header .pages {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 24px;
}

header .pages a {
    color: antiquewhite;
    text-decoration: none;
    font-style: italic;
}